<section id='sidebar'>
      <i class='icon-align-justify icon-large' id='toggle'></i>
      <ul id='dock'>
        <li class='launcher'>
          <i class='icon-dashboard'></i>
          <a href="/history/gannt">Grant</a>
        </li>
        <li class='launcher'>
          <i class='icon-table'></i>
          <a href="/history/index">History</a>
        </li>
        <li class='active launcher'>
          <i class='icon-file-text-alt'></i>
          <a href="/tasks/add">Add</a>
        </li>
        <li class='launcher'>
          <i class='icon-table'></i>
          <a href="/tasks/index">Tasks</a>
        </li>
        
      </ul>
    </section>