{% module Template('widget/header.html', show_comments=True) %}
  <div id='wrapper'>
    <!-- Sidebar -->
    {% module Template('widget/sidebar.html') %}

    <!-- Navigation -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'><a href="/tasks/index/">Tasks</a></li>
        <li class="active">Add</li>
      </ul>
      <div id='toolbar'>

      </div>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <i class='icon-edit icon-large'></i> Form Default
        </div>
        <div class='panel-body'>
          <form>
            <fieldset>
              <legend>Default Inputs</legend>
              <div class='form-group'>
                <label class='control-label'>Task key</label>
                <input class='form-control' placeholder='Enter task key' type='text'>
              </div>
              <div class='form-group'>
                <label class='control-label'>Cmd field</label>
                <textarea class='form-control' placeholder='Enter shell scripy'>
                </textarea>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

{% module Template('widget/footer.html', show_comments=True) %}

